body{
    font-family: 'Times New Roman', Times, serif;
    background-image: url("https://kauapnd.github.io/aprendizado/Imagens/camaleao.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}